.sidebar_right {
  height: 805px;
}

.sidebar_header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 24px;
  padding: 13px;
  border-radius: 8px;

  background: linear-gradient(to right, #A29BFE, #6C5CE7BF, #6C5CE7);
}

.right_title{
  display: flex;
}


































